.charitypress-form label {
	width:   30%;
	display: block;
	float:   left;
	margin-right:10px;
}

.charitypress-form input,
.charitypress-form .input,
.charitypress-form select {
	width:   60%;
	display: block;
	float:   left;
}

.charitypress-form .input {
	float: right;
	width:66%;
	margin-right:10px;
}

.charitypress-form input[type="checkbox"] {
	width:auto;
}

.charitypress-form .half {
	width:        25%;
	margin-right: 10px;
}

.charitypress-form .half:last-child {
	margin-right: 0;
}

.form-element-wrap {
	margin-bottom: 15px;
}

.form-element-wrap:before,
.form-element-wrap:after {
	content: " ";
	display: table;
}

.form-element-wrap:after {
	clear: both;
}

.form-element-wrap {
	*zoom: 1;
}


.invalid {
	border:1px solid #ff00ff;
}
.error-message {
	color:#FF0000;
}
.status-message {
	font-weight:bold;
}