.charge-users label {
	width: 200px;
	display: block;
	float: left;
}

#process-donations,
.wrap.charge-users .spinner {
	float:left;
}


.queue {
	border-collapse: collapse;
	margin-bottom:20px;
}
.queue td {
	border:1px solid #000000;
	padding:5px;
}
.queue tr:first-child {
	font-weight:bold;
}

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
	*zoom: 1;
}

.safe, .unsafe {
	display:none;
	font-weight:bold;
	font-size:24px;
	padding:5px;
	background:#000;
	color:#FF0000;
	margin-top:15px;

}

.safe {
	color:#7AD03A;
}