.suggest-team {
	border-collapse: collapse;

}
.suggest-team td {
	border:1px solid #ccc;
	padding:5px;
}
.suggest-team tr:first-child {
	font-weight:bold;
}

.suggest-team .action {
	text-decoration: underline;
	font-weight:bold;
	cursor:pointer;
}

.suggest-team .action:hover {
	text-decoration: none;
}